/* styles.css - Styling for the Website Portfolio */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: center;
    background: #35424a;
}

.navbar a {
    color: white;
    padding: 15px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background: #e8491d;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

footer {
    padding: 10px 0;
    text-align: center;
    background: #35424a;
    color: white;
}
